{% extends "base.html" %}

{% block title %}
Ayodhya
{% endblock %}

{% block main %}

<div class="container">
    <p class="fs-2">Ayodhya</p>
    <p class="fs-5" >
        Ayodhya, located on the banks of the Sarayu River, is regarded as one of the most sacred places to visit in India by the Hindu community. It is famed for its historical and mythological stories, beautiful temples, legends surrounding the Hindu epic Ramayana and Vishnu and much more.
    </p>


{% include "album_layout.html" %}
</div>

{% endblock %}