{% extends "base.html" %}

{% block title %}
Agra
{% endblock %}

{% block main %}

<div class="container">
    <p class="fs-2">Agra</p>
    <p class="fs-5">
        Agra is the city of the Taj Mahal and capital of the erstwhile Mughal Empire. Agra is also the gateway to the
        legendary Braj region, the land of Lord Krishna. <br><br>
        Agra has been immortalized as the City of the Taj. Yet, it doesn't take much for the roving eye to discover that
        there's more to Agra than just the fabled Taj Mahal. The city is a virtual gateway to a world of discovery….. a
        freeze-frame from a resplendent era that's long since gone by. <br><br>
        In the great epic 'Mahabharat' the region of Agra is described as 'Agraban' (an integral part of the Braj Bhumi
        or the land of Lord Krishna). The latter part of Indian history outlines the origin of Agra to 1475 A.D., the
        reign of Raja Badal Singh.M <br><br>
        Agra came into limelight during the rule of Afghan King Sikandar Lodhi - who had made it the capital of his
        empire. Later in 1526 A.D., the Mughal Emperor Babar took upon himself the task for rendering Agra, a unique
        character and beauty of its own.
    </p>


    {% include "album_layout.html" %}
</div>

{% endblock %}