{% extends "base.html" %}

{% block title %}
Prayagraj
{% endblock %}

{% block main %}

<div class="container">
    <p class="fs-2">Prayagraj</p>
    <p class="fs-5">
        Allahabad, now officially known as Prayagraj, is a city located in the Indian state of Uttar Pradesh.
        Reminiscent of all that is spiritual and sacred in Hinduism, Allahabad is famous for Triveni Sangam or the
        meeting point of three rivers - the Ganga, the Yamuna, and the Saraswati. <br><br>
        Built on the site of the ancient town of Prayag, Allahabad has, since time immemorial, held the largest Hindu gathering on the banks of the Sangam -
        the Maha Kumbh Mela. While the Sangam city is often passed over for more travel-friendly cities, there is a lot
        to Allahabad besides just its religion.
    </p>


    {% include "album_layout.html" %}
</div>

{% endblock %}