{% extends "base.html" %}

{% block title %}
Lucknow
{% endblock %}

{% block main %}

<div class="container">
    <p class="fs-2">Lucknow</p>
    <p class="fs-5" >Lucknow, the capital of Uttar Pradesh, lies in the middle of the Heritage Arc. This bustling city, famed for its
        Nawabi era finesse and amazing food, is a unique mix of the ancient and the modern. It is home to extraordinary
        monuments depicting a fascinating blend of ancient, colonial and oriental architecture. <br><br>
        Discover Bara Imambara, Vidhan Sabha, La Martiniere, Rumi Darwaza, Chhota Imambara, Residency, Chikankari,
        Nawabi Delicacies and Hospitality of Nawabs by discovering the lavish Lucknow.
    </p>


{% include "album_layout.html" %}
</div>

{% endblock %}