{% extends 'base.html' %}


{% block title %}Contact{% endblock %}


{% block main %}
<div class="container-sm pb-5" id="contact">
    <p class="fs-1">Contact</p>
    {% include "notify.html" %}
    <form method="post" tracking-name="contact">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="John Doe" required minlength="2"
                autocomplete="false">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required
                autocomplete="false">
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input class="form-control" id="subject" name="subject" required minlength="2" autocomplete="false">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3" required minlength="2"
                autocomplete="false"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn fs-4" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
