{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Oregano&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Uttar Pradesh Tourist Spots{% endblock %}



{% block main %}
<div class="container">
    <!-- <p class="fs-1 text-center" id="head">TOURISM IN UTTAR PRADESH</p> -->
    <img src="{{url_for('static',filename='images/banner1.jpg')}}" alt="" class="img-fluid border border-3 mb-5">
    <p class="mb-5">
        Uttar Pradesh is a state in northern India. With over 200 million inhabitants, it is the most populated state in
        India as well as the most populous country subdivision in the world . The state is divided into 18 divisions and
        75 districts, with the state capital being Lucknow, and Allahabad serving as the judicial capital. <br><br>
        Uttar Pradesh  is the origin place of two most prominent religions in the world - Buddhism and Jainism.
        Apparently, Uttar Pradesh has a lot to offer other than the iconic Taj Mahal in Agra, which of course is its top
        tourist destination. The North Indian state is also home to numerous significant Hindu temples, Muslim places of
        worship (Dargah and Masjid) as well as Christian pilgrimage destinations affirming being an important religious
        place in the country. The holy city of Varanasi, which also happens to be one of the ancient inhabited cities in
        the world is located in Uttar Pradesh. The alleys of Varanasi has a long string of stories to narrate to the
        traveler's, where its ghats have the potential to keep you lost in thoughts for hours, and oh the pretty
        Varanasi Sarees, can show you what love at first sight truly means. <br><br>
        A warm welcome to the capital city, Lucknow where the Chikankari suits, kurta, and sarees are going to leave you
        spoilt for choice. The city also has delectable cuisine on offer to revive your energy when you're tired after
        hopping from one shop to another catering to the shopaholic side of you. Also popular for Bada and Chhota
        Imambara along with other modern-day parks and mall, this travel destination in Uttar Pradesh is a must visit.
        Offering an experience of a lifetime is the city of Prayagraj, formerly Allahabad that hosts one of the largest
        religious gathering in the world - Kumbh Mela. Sanctified by the confluence of the sacred most rivers of India -
        Ganga, Yamuna, and Saraswati, this pilgrimage destination in Uttar Pradesh also has a close association with
        Indian politics. The state is also home to Lord Rama and Lord Krishna and their sacred abodes of Ayodhya,
        Vrindavan, and Mathura have pilgrims doing rounds throughout the year. <br><br>
        Uttar Pradesh is a significant destination for Buddhist and Jain followers as well, and thus the pilgrims have
        the chance to pay homage to important religious centres like Sarnath and Kushinagar. The cultural alleys of
        Uttar Pradesh are equally heartwarming, where on one hand the food, of the variety of biryani to kebabs to korma
        and sweets keeps you satiated, the brass and bronze ware from Moradabad, the bangles and glassware from
        Firozabad, locks from Aligarh, and the zardozi and silk sarees from Varanasi have enough to win accolades. Uttar
        Pradesh is also the origin centre of one of the eight classical dances in India - Kathak eventually making the
        state one of the prominent cultural centres in the country. The state is also opulent in wildlife and
        encompasses numerous wildlife sanctuaries and fewer national parks that are home to a variety of flora and
        fauna.<br><br>
        Dudhwa National Park and Okhla Bird Sanctuary are amongst the top wildlife destinations in Uttar Pradesh. The
        avenue of heritage tour is open across the length and breadth of the state with the capital city Lucknow
        reflecting the rich Mughal and British architecture to Varanasi showcasing a meld of Nagara style of
        architecture along with Mughal architecture. While on the other side, the gradually developing cities of Noida
        (Gautam Buddha Nagar), Ghaziabad, and Greater Noida have a different side of architecture on display with its
        skyscraping housing societies and massive malls. The DLF Mall of India, Noida is not only one of the biggest
        malls in the country but also amongst the largest. Uttar Pradesh is expanding its tourism with hosting
        international level festivals like - Kumbh and Taj Mahotsav, which is apparently helping travellers learn about
        its rich history and culture. A holiday here is truly an authentic incredible India experience.
    </p>
    <p class="fs-2">Some interesting locations</p>

    {% include "album_layout.html" %}
    {% if locations|length < 13 %}
           
    <button class="btn mt-5"><a href="{{url_for('index',all=True)}}" style="color:white ;">Show all</a></button>
    {% endif %}
    
</div>
{% endblock %}