{% extends "base.html" %}



{% block main %}
<div class="container">
    <p class="fs-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nemo corrupti eveniet! Ut enim, culpa architecto
        similique quidem voluptas! Sequi nihil amet hic tenetur neque et animi dolore tempora impedit, sint quam nobis
        eligendi accusamus deleniti a exercitationem sapiente. Repellendus, alias dolorem optio sed, libero ratione
        error facilis rerum voluptatibus consequuntur quibusdam blanditiis quod culpa eaque? Expedita fugit repudiandae
        delectus ipsam id omnis, dolores, assumenda suscipit illo doloremque nemo dolore totam sequi eligendi harum ab!
        Provident alias officiis adipisci reiciendis unde exercitationem similique modi voluptate nihil asperiores
        incidunt saepe mollitia assumenda enim ex, quasi, nemo ut praesentium quidem rerum? Rerum.
    </p>
</div>
{% endblock %}