{% extends "base.html" %}

{% block title %}
Fatehpur Sikri
{% endblock %}

{% block main %}

<div class="container">
    <p class="fs-2">Fatehpur Sikri</p>
    <p class="fs-5">
        Located at a distance of 40km from Agra, Fatehpur Sikri is a town in the Agra district and a famous tourist
        attraction. A city predominantly made of red sandstone, Fatehpur Sikri was founded in 1571 century by Mughal
        Emperor Akbar. It is essentially a fortified city built by the king and had been the capital of his Empire for
        fifteen years. Now a UNESCO world heritage site, it is home to Jodha Bai's Palace, Jama Mosque, Buland Darwaza,
        and Tomb of Salim Chisti among many other famous monuments. Derived from Arab and central Asian tent
        encampments, the Imperial Complex is a work of pavilions arranged in formal geometry on a piece of land.
    </p>


    {% include "album_layout.html" %}
</div>

{% endblock %}